{% extends 'index.html' %}
{% block cardtitle%} Add New Patient - {{schedules.temperature}} {% endblock%}
{% block breadcrumb%}Add New Patient Info {% endblock%}
{% load widget_tweaks %}
{% block content %}



<section class="content">

    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
        <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

    <div class="container-fluid">
      <!-- Main row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
            
              <h3 class="card-title">Patient List</h3>
             
              <div class="card-tools">
                <form action="" method="get">
                <div class="input-group input-group-sm" style="width: 150px;">
                  
                  {% render_field myFilter.form.fullName placeholder="Search" type="text" class="form-control float-right" %}
            
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </form>
                  </div>
                
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                  <tr>
                
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Blood Group</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Status</th>
             
                    
                  </tr>
                </thead>
                <tbody>
                 
                  {% for case in cases  %}
                    
                  <tr>
                    <td>{{case.temperature}}</td>
                    <td>{{case.blood_pressure}}</td>
                    <td>{{case.status}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.status}}</td>
                  
                    
                    <td> <a href="{% url 'view' schedule.id %}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">View</a> </td>
                    <td> <a href="{% url 'edit' schedule.id %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit</a> </td>
                    <td> <a href="{% url 'viewHistory'  schedule.id %}" class="btn btn-success btn-sm active" role="button">Case History</a> </td>
                    <td> <a href="{% url 'payments' %}" class="btn btn-success btn-sm active" role="button">Payment</a> </td>
                    <td> <a href="#" class="btn btn-danger btn-sm  active" role="button" aria-pressed="true">Delete</a> </td>
                  </tr>
                  {%endfor%}
                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
  </section>

  

 

 <form action="" method="post">      
    {% csrf_token %}
        <div class="form-group col-md-6" >
          <div><label for="entry_date" style="color:red">{% now ' m/d/Y' %}</label></div>
        </div>

        <div class="form-group col-md-6">
            <label for="patient_name">Patient:  </label> {{schedule.fullName}}
            <input type="hidden" id="patient_name" name="patient_name" value = '{{cases.id}}'>
        </div> 
       
        <div class="form-group col-md-6">
          <label for="patient_name">Blood Pressure:  </label> {{cases.blood_pressure}}
          <input type="hidden" id="patient_name" name="patient_name" value = '{{cases.id}}'>
      </div> 
        
      <div class="form-group col-md-6">
        <label for="patient_name">Temperature:  </label> {{cases.temperature}}C
        <input type="hidden" id="patient_name" name="patient_name" value = '{{cases.id}}'>
    </div> 


    <button type="submit" class="btn btn-primary active">Submit</button> 
  </form>

 {%endblock%}
 
