{% extends 'index.html' %}
{% load widget_tweaks %}

{% block cardtitle%} Patient Case History {% endblock%}
{% block breadcrumb%}Add Patient Case {% endblock%}
{% block content %}


    
<form action="" method="post">      
    {% csrf_token %}
        <div class="form-group col-md-6">
          <label for="entry_date">Date</label>
          {% render_field form.entry_date %}
        </div>
        <div class="form-group col-md-6">
            <label for="patient_name">Patient Name</label>
            {% render_field form.patient_name  placeholder="Patient Name" type="text" class="form-control" %}
          </div>
     
          <div class="form-group col-md-6">
            <label for="description">Description</label>
            {% render_field form.description  placeholder="Description" type="text" class="form-control" %}
          </div> 

    <button type="submit" class="btn btn-primary active">Submit</button> 
  
  </form>
{%endblock%}
