{% extends 'index.html' %}
{% block cardtitle%} Patient Case History {% endblock%}
{% block breadcrumb%} Patient Case History {% endblock%}

{% block content %}
<section class="content">
    <div class="container-fluid">
      <!-- Main row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Case History</h3>
              <div class="card-tools">  
                    <a href="{% url 'addCase' pat.id %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Add New Case</a>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                  <tr>
                
                    <th>Date</th>
                    <th>Full Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% for case in history %}
                  <tr>
                    
                    <td>{{case.entry_date}}</td>
                    <td>{{case.patient_name}}</td>
                    <td>{{case.description}}</td>
                    <td>{{case.case_status}}</td>
                    <td> <a href="{% url 'home' %}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">View</a> </td>
        
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
           
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
  </section>

  {%endblock%}


