{% extends 'index.html' %}
{% block cardtitle%} Add New Patient {% endblock%}
{% block breadcrumb%}Add New Patient Info {% endblock%}

{% block content %}

<section class="content">
    <div class="container-fluid">
      <!-- Main row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Patient List</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
              <table class="table table-head-fixed text-nowrap">
                <thead>
                  <tr>
                
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Blood Group</th>
                    <th>Date of Birth</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Status</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                 
                    <td>{{patient.fullName}}</td>
                    <td>{{patient.gender}}</td>
                    <td>{{patient.blood_group}}</td>
                    <td>{{patient.birth_date}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.patient_email}}</td>
                    <td>{{patient.status}}</td>  
                  </tr>
                </tbody>
              </table>
            </div>
           
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
  </section>

  {%endblock%}


